<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TerminalIP" value="192.168.1.50"/>
        <add key="TerminalPort" value="7800"/>
        <add key="ConnectionTimeout" value="5000"/>
        <add key="DefaultCurrency" value="840"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>